.flex-container {
    display: flex;
    background-color: rgb(104, 243, 222);
    margin-top: 15%;
    
  }
 
  #container-cifru{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .box{
    padding: 14px 16px;
    border: 3px solid black;
    margin-left: 72%;
    background-color: #0000009f;
    font-size: 70px;
  }
  
  #btn{
    background-color: azure;
    margin-left: 48%;
    }