body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
:root {
    --footer-blue: #3B6464;
    --footer-red: #1d0d0e;
    --footer-black: black ;
  }

/*navbar*/
#navbar{
    height:8%;
    width:100%;
    opacity:60%;
    font-size:25px;
    float: right ;
}
.inregistrare{
    float:right ; 
    margin-right: 2% ;
    margin-top: 15px;
}
.contact{
    float:right ; 
    margin-right: 2% ;
    margin-top: 15px;
}
.size20px{
    font-size: 20px;
}
.size16px{
    font-size: 16px;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("4.jpg");
    height: 100%;
    
}
.bgimg1 {
    background-position: center;
    background-size: cover;
    background-image: url("Educatie.jpg");
    height: 50%;
    padding-top: 65%;
}
.experienta{
    background-position: center;
    background-color: #3B6464;
    height: 85%;
    align-items: center;
}
#Experienta2{
    opacity: 80%;
    background-color:#607b7b;
    width: 300px;
    height: 400px;
    margin-left: 40%;
}
#Studii{
    display: flex;
}
#Studii> div{
    opacity: 80%;
    background-color:#607b7b;
    width: 300px;
    height: 400px;
    margin-left: 10%;

}
.img{
    height: 400 px; 
    width: 400px;
}

/*All footer*/
footer{
    padding: 30px;
    background-color: var(--footer-blue);
}
.footerr{
    padding: 30px;
    background-color: var(--footer-red);
}
.footerb{
    padding: 30px;
    background-color: var(--footer-black);
}

.footerimage{
    height: 30px;
}
